# Arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ambiente virtual
venv/
env/
ENV/

# VS Code
.vscode/
*.code-workspace

# Arquivos do sistema
.DS_Store
Thumbs.db
desktop.ini

# Arquivos de log
*.log